.voucher{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    .voucher-banner{
        display: flex;
        justify-content: center;
        width: 100%;
        > img {
            width: 100%;
            border-radius: 20px;
        }
       
    }
    .voucher-list{
     display: flex;
     flex-wrap: wrap;
        justify-content: space-between;
    }
    .box-pagination{
        margin-top: 40px;
    }
}