.box-size{
    display: flex;
    align-items: center;

    .product-size{
      position: relative;
      border-radius: 8px;
        padding: 7px 37px;
        border: 1.5px solid #00000017;
        color: #444444;
        font-size: 14px;
        font-weight: 500;
        margin-left: 8px;
        display: flex;
        text-align: center;
        cursor: pointer;
      
        &.active{
         
            border: 1.5px solid rgb(2, 111, 227)
        }
    }

}
.box {
    width: 100%;
    padding: 2em;
    text-align: center;
  }
  
  .quantity {
    position: relative;
    display: inline-block;
    color: #7f7f7f;
  
      input[type="number"] {
      transition: border .3s ease-in-out, color .3s ease-in-out;
      -webkit-appearance: textfield;
      -moz-appearance: textfield;
        appearance: textfield;
      font-family: Arial, sans-serif;
          font-size: 14px;
      line-height: 24px;
          font-weight: 700;
          box-shadow:	none;
          outline: none; 
          width: 42px;
          height:	34px;
          text-align:	center;
          float: right;
      border:	1px solid #dcdcdc;
      background-color: #fff;
          color: #342f2f;
  
          &:focus {
            border-color: #57b8f6 !important;
          }
  
          &:hover {
            border-color: #a5a5a5;
          }
      }
  
      &-button {
        width: 39px;
          height: 34px;
          display: block;
          float: right;
          position:	relative;
      cursor: pointer;
  
        &::before,
        &::after {
        position: absolute;
        top: calc(50% - 1px);
        left: calc(50% - 7px);
        content: '';
        width: 14px;
        height: 2px;
        background-color: currentColor;
        display: block;
        }
      }
  
      &-remove {
        &::after {
        display: none;
        }
      }
  
      &-add {
        &::after {
        transform: rotate(90deg);
        }
      }
  }

  .a {
    position: relative;
  }
 .aa::before {
  position: absolute;
  background-color: rgb(2, 111, 227);
    border-radius: 0 6px 0 10px;
    color: #fff;
    content: "✓";
    font-size: 10px;
    height: 13px;
    padding-bottom: 15px;
    padding-left: 4px;
    position: absolute;
    right: 0;
    top: 0;
    width: 18px;
 }



 .page_link  {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  > a {

    color: rgb(154, 153, 153);
  }
  > i {
    margin: 0 10px;
    color: rgb(154, 153, 153);
    font-size: 12px;
  }
  
 }
 .box-size {
  margin-left: -10px;
  display: flex;
  flex-wrap: wrap; /* Cho phép xuống dòng nếu có quá nhiều mục */
  .product-size {
    margin-left: 10px;
    margin-top: 10px;
  }
  .product-size +  .product-size {
    // margin-left: 10px;
  }
}
.addTocart {
  display: flex;
  align-items: center;
}

