.preview-cmt-img{
  
    background: no-repeat center center;
    background-size: cover;
    width: 80px;
    height: 50px;
    margin-top: 10px;
}
.content-review{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    .content-left{
        display: flex;
        align-items: center;
        cursor: pointer;

      
        .fa-camera{
            font-size: 20px;
            color: #929292;
            margin-right: 10px;
        }
        
        .box-star{
            padding: 6px 20px;
            border: 1px solid #00000017;
            color: #333;
            font-size: 16px;
            margin-left: 8px;
            cursor: pointer;
            text-align: center;

            .fa-star{
                color: #929292;
                font-size: 12px;
                
            }
            &:hover{
                color: #EE4D2D !important;
                border-color: #EE4D2D !important;
                .fa-star{
                    color: #EE4D2D;
                   
                    
                }
            }
            &.active{
                color: #EE4D2D !important;
                border-color: #EE4D2D !important;
                .fa-star{
                    color: #EE4D2D;
                   
                    
                }
            }
        }
    }
    .content-right{
        font-size: 14px;

        .btn{
            font-size: 14px;
            border-radius: 10px;
           
        }
        .btn-primary{
            background-color: rgb(0, 110, 227) ;
            border-color: rgb(0, 110, 227);
            &:hover{
                border-color: rgb(0, 110, 227);
              
                box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.1), 0 2px 6px 2px rgba(60, 64, 67, 0.15);
            }
            
        }
       
    }
}
.img-avatar{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
}
.fa-star{
    color: #EE4D2D;
   
    
}
.img-cmt{
    width: 60px;
    height: 60px;
    object-fit: cover;
    cursor: pointer;
}
.box-reply{
    background-color: #f5f5f5;
    padding: 0.875rem 0.75rem;
    border-radius: 10px;
    margin-top: 0.75rem;
    position: relative;
    span{
        color: #8b572a;
        text-transform: capitalize;
    }
    p{
        color: #333 !important;
    }
    &::after{
    border: 0.45rem solid transparent;
    border-bottom-color: #f5f5f5;
    content: "";
    display: inline-block;
    position: absolute;
    top: 0;
    left: 2rem;
    -webkit-transform: translateX(-50%) translateY(-100%);
    transform: translateX(-50%) translateY(-100%);
    }
    .btn-delete-reply{
        border: 1px solid #e0e0e0;
        outline: none;
        padding: 0px 20px;
        border-radius: 10px;
        background-color: #fff;
        font-size: 14px;
        margin-left: 1060px;
        &:hover{
            background: rgb(0, 110, 227) !important;
            border-color: rgb(0, 110, 227) !important;
            color: #fff;
            transition: 0.3s ease-in;
        }
    }
}
.review-product {
    border-radius: 10px;
    padding: 15px ;
}
.total_rate-left {
   border-right: 1px solid #e5e7eb;
    display: flex;
    justify-content: center;
    align-items: center;
    .box_total {
    //   background-color: #204d74;
      height: 90px;
        h4 {
            margin: 0 auto;
            text-align: center;
            font-weight: 600;
        }
        > span {
            margin:0 auto;
        }
        h6{
            margin-top: 10px;
            color: rgb(0, 110, 227);
        }
    }
}
.list-start {
    > li > a > i {
        color: rgb(255, 191, 0);
        font-size: 13px;
    }
}

.rating_list {
    margin-top: 20px;
  
    .list-start {
      list-style: none;
      padding: 0;
  
      .rating-item {
        display: flex;
        align-items: center;
        margin: 10px 0;
  
        span {
          font-size: 14px;
          margin-right: 5px;
        }
  
        .fa-star {
          color: #ffbf00; /* Màu vàng của ngôi sao */
          margin-right: 10px;
        }
  
        .rating-bar-container {
          flex-grow: 1;
          background-color: #e0e0e0; /* Màu xám của thanh */
          height: 8px;
          width: 70%;
          border-radius: 5px;
          margin-right: 10px;
          position: relative;
          overflow: hidden; /* Đảm bảo thanh bên trong không tràn ra ngoài */
  
          .rating-bar {
         
            height: 100%;
            border-radius: 5px;
            width: 0; /* Bắt đầu từ 0% */
            transition: width 0.3s ease-in-out;
          }
        }
  
        .rating-count {
          font-size: 14px;
          margin-left: 10px;
          color: #333;
        }
      }
    }
  }
 .sss {
    width: 15px;
    font-weight: 600;
    display: flex;
    justify-content: center;
 }
.form-group-review {
    display: flex;
    flex-direction: column;
    textarea {
        border: 1px solid rgb(231, 220, 220);
        border-radius: 10px;
        margin-bottom: 20px;
        padding: 10px;
        cursor: pointer;
    }
    textarea:focus {
        outline: none;
        
        box-shadow: none; /* Loại bỏ hiệu ứng đổ bóng mặc định (nếu có) */
      }
}
  
.content-left {
    .box-star {
        border-radius: 10px;
        // background-color: #204d74;
        > i {
            color: rebeccapurple;
        }
    }
}
.delete-cmt {
    border: none;
    border: 1px solid rgb(224, 224, 224);
    padding: 0px 20px;
    display: inline-block;
    line-height: 32px;
    border-radius: 16px;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    background-color: #fff;
    color: #2a2a2a;
    position: absolute;
    right: 10px;
    top: 14px;
    transition: all 0.5s ease;
    &:hover {
        background-color: black;
        color: white;
    }
}
.secondary {
    // background-color: rgb(0, 110, 227);
    border: 1px solid  rgb(0, 110, 227);
    width: 100px;
    display: flex;
    align-items: center;
    color:  rgb(0, 110, 227);
    cursor: pointer;
    font-size: 14px;
    justify-content: center;
    padding: 5px 0;
    border-radius: 20px;
    margin: 0 auto;
    transition: all 0.5s ease;
    &:hover {
        background-color: rgb(0, 110, 227);
        color: white;
        box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.1), 0 2px 6px 2px rgba(60, 64, 67, 0.15);
    }
    > i {
        margin-left: 5px;
        font-size: 12px;
    }
}